<!DOCTYPE html>
<html lang="en">
<head>
<title>unswtalk</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="index, follow">
		<!-- icons -->
		<link rel="apple-touch-icon" href="{{url_for('static', filename = 'static/assets/img/apple-touch-icon.png')}}">
		<link rel="shortcut icon" href="{{url_for('static',filename = 'static/favicon.ico')}}">

		<!-- Bootstrap Core CSS file -->
		<link rel="stylesheet" href="{{url_for('static',filename = 'static/assets/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{url_for('static',filename = 'static/assets/css/fileinput.min.css')}}">
		<link href="{{url_for('static', filename='static/UNSWtalk.css')}}") rel="stylesheet">
		<!-- Override CSS file - add your own CSS rules -->
		<link rel="stylesheet" href="{{url_for('static',filename = 'static/assets/css/styles.css')}}">

		<!-- Conditional comment containing JS files for IE6 - 8 -->
		<!--[if lt IE 9]>
			<!--<script src="assets/js/html5.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->


</head>
<body>

{% block body_contents %}
{% endblock %}
<script>
function post(URL, PARAMS) {
  var temp = document.createElement("form");
  temp.action = URL;
  temp.method = "post";
  temp.style.display = "none";
  for (var x in PARAMS) {
    var opt = document.createElement("textarea");
    opt.name = x;
    opt.value = PARAMS[x];
    //alert(opt.name)
    temp.appendChild(opt);
  }
  document.body.appendChild(temp);
  temp.submit();
  return temp;
}
</script>

<script>
function deleteAccount(URL, PARAMS) {
var isSure=confirm("Do you want to delete this account?");
	if (isSure!=null && isSure!=""){
  var temp = document.createElement("form");
  temp.action = URL;
  temp.method = "post";
  temp.style.display = "none";
  for (var x in PARAMS) {
    var opt = document.createElement("textarea");
    opt.name = x;
    opt.value = PARAMS[x];
    //alert(opt.name)
    temp.appendChild(opt);
  }
  document.body.appendChild(temp);
  temp.submit();
  return temp;
  }
}
</script>

<script>
					function getnextPage(tdiv,totalpage,nrecord,show,istop){
					var  now = document.getElementById("currentpage");
					var cpage = now.value;
					if(cpage != totalpage){
						start = cpage*show;
						end = (cpage+1)*show-1;
						for(var j = 0; j< nrecord;j++){
							var d = j.toString();
							var ddiv = tdiv+d;
							if(j>=start&&j<=end){
								document.getElementById(ddiv).style.display="block";
							}else{
								document.getElementById(ddiv).style.display="none";
							}
						}
						cpage = cpage+1;
						now.value = cpage;
						if(cpage != totalpage){document.getElementById("nextpage").className= 'next';}
						else{document.getElementById("nextpage").className= 'next disabled';}
						if(cpage != 1){document.getElementById("prepage").className= 'previous';}
						else{document.getElementById("prepage").className= 'previous disabled';}
						if(istop == 1){
						document.documentElement.scrollTop = document.body.scrollTop =0}
					}else{
					alert("This is the last page!")
					}
					}

					function getprePage(tdiv,totalpage,nrecord,show,istop){
					var  now = document.getElementById("currentpage");
					var cpage = now.value;
					if(cpage != 1){
						cpage = cpage-1;
						start = (cpage-1)*show;
						end = cpage*show-1;
						for(var j = 0; j< nrecord;j++){
							var d = j.toString();
							var ddiv = tdiv+d;
							if(j>=start&&j<=end){
								document.getElementById(ddiv).style.display="block";
							}else{
								document.getElementById(ddiv).style.display="none";
							}
						}
						now.value = cpage;
						if(cpage != 1){document.getElementById("prepage").className= 'previous';}
						else{document.getElementById("prepage").className= 'previous disabled';}
						if(cpage != totalpage){document.getElementById("nextpage").className= 'next';}
						else{document.getElementById("nextpage").className= 'next disabled';}
						if(istop == 1){
						document.documentElement.scrollTop = document.body.scrollTop =0}
					}else{
					alert("This is the first page!")
					}
					}
</script>
		<script src="{{url_for('static',filename = 'static/assets/js/jquery-1.11.2.min.js')}}"></script>
		<!-- Bootstrap Core scripts -->
		<script src="{{url_for('static',filename = 'static/assets/js/bootstrap.min.js')}}"></script>
		<script src="{{url_for('static',filename = 'static/assets/js/fileinput.min.js')}}"></script>
</body>
</html>
